/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-ds-header-studiowac-blocks input[type="text"] {
}

.wp-block-studiowac-header {
  min-height: 4rem;
  padding-inline: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: static !important;
  background-color: var(--wp--preset--color--custom-secondary);
}
