<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:query {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-query page-main">
  <!-- wp:post-template -->
  <!-- wp:post-content /-->
  <!-- /wp:post-template -->
</main>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi animi accusantium quo cum sequi fugit quae illo obcaecati quibusdam. Velit optio assumenda sapiente itaque?
Distinctio itaque totam obcaecati recusandae magni odit quos, voluptatem saepe necessitatibus cupiditate nisi cum voluptate laboriosam veritatis. Aliquam necessitatibus architecto
deserunt, voluptatum itaque ab incidunt fugit?
